body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.outcome {
    font-size: larger; 
    font-weight: bold;
}

#rock , #paper, #scissor{
    border-color: black;
}
